/gamedev/.metadata/.lock
/gamedev/.metadata/.log
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/5f/d08b32f36b9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/6f/20e6484a6d9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/71/70ec0aed6b9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/8a/10cd86626d9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/95/e06fc9ee6c9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/b6/20dca5a26c9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/c1/005145c66d9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/ce/80d327d76d9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/d3/007c551e6c9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/f/30918fa3ae9500131df193adfca9b426
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.history/fb/403396946d9600131f51f5440cb528c5
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/game/.indexes/e4/78/1d/b1/57/history.index
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/game/.markers.snap
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/game/.syncinfo.snap
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/gameTest/.indexes/af/history.index
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/gameTest/.location
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/gameTest/.markers.snap
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.projects/gameTest/.syncinfo.snap
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/gamedev/.metadata/.plugins/org.eclipse.core.resources/.snap
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.core.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/gamedev/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/gamedev/.metadata/.plugins/org.eclipse.debug.core/.launches/ThreadPoolTest.launch
/gamedev/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/gamedev/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/1159935248.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/1259291233.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/1513993030.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/1609788100.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/1961235293.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/2279383384.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/2426646370.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/2598035366.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/2895934474.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/3296295421.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/3542660237.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/3640646894.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/4028587448.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/460152253.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/534805504.index
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/gamedev/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/gamedev/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
/gamedev/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
/gamedev/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
/gamedev/.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
/gamedev/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/2/7/refactorings.history
/gamedev/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2014/2/7/refactorings.index
/gamedev/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/gamedev/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.4.0.20130601-0317.xml
/gamedev/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/gamedev/.metadata/version.ini
/gamedev/game/.classpath
/gamedev/game/.project
/gamedev/game/.settings/org.eclipse.jdt.core.prefs
/gamedev/gameTest/.classpath
/gamedev/gameTest/.project
/gamedev/gameTest/.settings/org.eclipse.jdt.core.prefs
*.class

# Package Files #
*.jar
*.war
*.ear
